* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}

section {
  padding: 7rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
}

@media only screen and (max-width: 47.9375em) {
  nav {
    background-color: #fff;
  }
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  color: #fff !important;
  font-size: 3rem;
  font-weight: 700;
}

@media only screen and (max-width: 47.9375em) {
  .navbar-brand {
    color: #1b7dab !important;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

@media only screen and (max-width: 47.9375em) {
  .navbar-nav .nav-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
}

.navbar-nav .nav-item:nth-child(1) {
  margin-right: 2rem;
}

.navbar-nav .nav-link {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s;
}

@media only screen and (max-width: 47.9375em) {
  .navbar-nav .nav-link {
    color: #1b7dab !important;
  }
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 47.9375em) {
  .navbar-nav .nav-link:hover {
    color: #1b7dab !important;
    border-bottom: 2px solid #1b7dab;
  }
}

.hero {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right bottom, #1b7dab, #28b8fc);
}

.hero__inner h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5rem;
  line-height: 1.5;
}

@media only screen and (max-width: 37.5em) {
  .hero__inner h1 {
    font-size: 3rem;
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero__inner .btn {
    display: block;
    width: 100%;
    font-weight: 400;
  }
}

.hero__inner-btn-hire {
  color: #1b7dab;
  margin-right: 2rem;
  background-color: #fff;
  transition: all .3s;
}

.hero__inner-btn-hire:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

@media only screen and (max-width: 37.5em) {
  .hero__inner-btn-hire {
    margin-bottom: 2rem;
  }
}

.hero__inner-btn-portfolio {
  border: 2px solid #fff;
  background-color: none;
  color: #fff;
  transition: all .3s;
}

.hero__inner-btn-portfolio:hover {
  background-color: #fff;
  color: #1b7dab;
}

.about h1 {
  margin-bottom: 5rem;
}

.about__me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about__me p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.about__picture {
  width: 17.2rem;
  height: 17.2rem;
  margin-bottom: 2rem;
}

.about__skills {
  color: #fff;
  position: relative;
}

.about__skills__box {
  position: relative;
}

.about__skills__type {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

.about__skills-list {
  display: inline-block;
  font-size: 1.4rem;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  background-color: #999;
}

.about__skills-list p {
  display: inline-block;
  text-align: center;
  width: 10rem;
  height: 2.5rem;
  background-color: #28b8fc;
}

.about__skills-progress {
  text-align: right;
  padding-right: .5rem;
  background-color: #1b7dab;
  height: 2.5rem;
}

.about__skills-progress--90 {
  width: 90%;
}

.about__skills-progress--80 {
  width: 80%;
}

.about__skills-progress--70 {
  width: 70%;
}

.about__skills-progress--60 {
  width: 60%;
}

.about__skills-progress--50 {
  width: 50%;
}

.services {
  padding: 7rem 0;
  text-align: center;
  background-color: #f5f7f8;
}

@media only screen and (max-width: 61.9375em) {
  .services {
    padding-bottom: 5rem;
  }
}

.services__description {
  background-color: #fff;
  padding: 4rem 0;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 61.9375em) {
  .services__description {
    margin-bottom: 2rem;
  }
}

.services__description p {
  font-size: 1.6rem;
  font-weight: 600;
}

.services__icon {
  font-size: 5rem;
  color: #1b7dab;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .portfolio {
    padding-bottom: 4rem;
  }
}

.portfolio h1 {
  margin-bottom: 5rem;
}

.portfolio .container-fluid {
  margin: 0;
  padding: 0;
}

.portfolio .row {
  margin: 0;
  padding: 0;
}

.portfolio .col-sm-4 {
  margin: 0;
  padding: 0;
}

.portfolio__thumb {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__thumb {
    margin-bottom: 3rem;
  }
}

.portfolio__thumb img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all .3s;
}

.portfolio__thumb img:hover {
  transform: scale(0.9);
}

.portfolio__thumb__caption {
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  bottom: -5rem;
  padding: 1rem;
  line-height: 1.5;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all .3s;
}

@media only screen and (min-resolution: 192dpi) and (min-width: 600px), (max-width: 37.5em) {
  .portfolio__thumb__caption {
    opacity: 1;
    bottom: 0;
  }
}

.portfolio__thumb:hover .portfolio__thumb__caption {
  bottom: 0;
  opacity: 1;
}

.footer {
  padding: 3rem 0;
  background-color: #1b7dab;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
}

@media only screen and (max-width: 47.9375em) {
  .footer .row > *:not(:last-child) {
    margin-bottom: .7rem;
  }
}

.footer__email {
  text-align: left;
}

@media only screen and (max-width: 47.9375em) {
  .footer__email {
    text-align: center;
  }
}

.footer__email p {
  display: inline-block;
}

.footer__copyright {
  text-align: center;
}

.footer__social {
  text-align: right;
  margin-top: -3px;
}

@media only screen and (max-width: 47.9375em) {
  .footer__social {
    text-align: center;
  }
}

.footer__social a:link,
.footer__social a:visited {
  color: #fff;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */