// COLORS
$black-1: #000;
$black-2: #333;
$black-3: #777;
$black-4: #999;

$white: #fff;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #bdc3c7;
$grey-light-5: #ccc;
$grey-light-6: #f5f7f8;

$blue-1: #28b8fc;
$blue-2: #1b7dab;



// Media Query Desktop first
$bp-largest: 75em; // 1200px/16px = 75
$bp-large: 61.9375em; // 991px/16px
$bp-medium: 47.9375em; // 767px/16px
$bp-small: 37.5em; // 600px/16px
$bp-smaller: 28.125em; // 450px/16px
$bp-smallest: 22.5em; // 360px/16px






